#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
}

#searchbar {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
}

.navbar {
 display: flex;
 align-items: center;
 flex-direction: space-between;
 
 width: 100%;
 left: 0px;
 top: 0px;

}

.navbar li {
    display:inline-block
}

.navbar-left {
    
    text-align: left;
    flex-grow: 1;
    margin-left: 10px;
}

.navbar-right {
    
    
    flex-grow: 1;
    text-align: right;
    margin-right: 10px;

}



.nav-item {
    
    list-style-type: none;
    font-family: sans-serif;
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.nav-item:hover {
    text-decoration:underline;
}