#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    margin-top: 150px;
}

span {
    font-family: material icons;
    font-size: 24px;
}

#searchbar {
    display: flex;
    justify-content: center;
    outline: none;
    align-items: center;
}

#search {
    
    border: 1px solid rgb(207, 206, 206);
    border-radius: 20px;
    width: 60%;
    max-width: 584px;
    height: 2.5em;
    outline: none;
}

#search:hover {
    box-shadow: 0 3px 5px rgb(211, 206, 206);
}



#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 10px;
}

#googlesearch {
    border:none;
    padding: 10px;
    border-radius: 5px;
}

#lucky {
    border:none;
    padding: 10px;
    border-radius: 5px;
}

#googlesearch:hover {
    border:1px solid rgb(211, 206, 206);
}

#lucky:hover {
    border:1px solid rgb(211, 206, 206);  
}

.navbar {
 display: flex;
 align-items: center;
 flex-direction: flex-start;
position: fixed;
 width: 100%;
 left: 0px;
 top: 0px;

}

.navbar li {
    display:inline-block
}

.navbar-left {
    
    text-align: left;
    flex-grow: 1;
    
}

.navbar-right {
    
    
    flex-grow: 1;
    text-align: right;
    margin-right: 25px;

}



.nav-item {
    
    list-style-type: none;
    font-family: sans-serif;
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    
}

.nav-item:hover {
    text-decoration:underline;
}