#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#searchbar {
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
}