html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: auto;
    margin-top: 150px;
}

span {
    font-family: material icons;
    font-size: 24px;
    color:rgb(131, 127, 127)
}

#search-container {
    display:flex;
    justify-content: center;
    

}

#searchbar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    align-items: center;
    margin: 2vh;
    border: 1px solid rgb(207, 206, 206);
    border-radius: 20px;
    width: 55%;
    max-width: 584px;
    height: 2.5em;
    
}


#search {
    
    
    border-radius: 20px;
    width: 85%;
    max-width: 584px;
    height: 2.5em;
    outline: none;
    border: none;
}

#searchbar:hover {
    box-shadow: 0 3px 5px rgb(211, 206, 206);
}



#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 10px;
}

#googlesearch {
    border:none;
    padding: 10px;
    border-radius: 5px;
}

#lucky {
    border:none;
    padding: 10px;
    border-radius: 5px;
}

#googlesearch:hover {
    border:1px solid rgb(211, 206, 206);
}

#lucky:hover {
    border:1px solid rgb(211, 206, 206);  
}

.navbar {
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 flex-direction: flex-start;
 position: fixed;
 width: 100%;
 left: 0px;
 top: 0px;

}

.navbar li {
    display:inline-block;
    
}

.navbar-left {
    
    text-align: left;
    flex-grow: 1;
    
    
}

.navbar-right {
    
    
    flex-grow: 1;
    text-align: right;
    margin-right: 25px;
    justify-content: center;
    align-items: center;
   
}

#apps {
    vertical-align: middle;
    padding-right: 10px;
}

#apps:hover {
    cursor: pointer;
}


.nav-item {
    
    list-style-type: none;
    font-family: arial, sans-serif;
    margin-right: 10px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    
}

.nav-item:hover {
    text-decoration:underline;
}

#sign-in {
    justify-content: center;
    background-color:#4683ea;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 8px;
    border:none;
    border-radius: 5px;
}

#sign-in:hover {
    cursor: pointer;
}

#footer-container {
    position: fixed;
    bottom: 0%;
    background-color:rgb(226, 222, 222);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    
}

.footer-left {
    display: flex;
}

.footer-right {
    display: flex;
}

#footer-container li {
    padding-right: 10px;
    color: rgb(165, 161, 161);
}